:root {
  --color-principal: #ff53ff;
  --color-secundario: #ccc2dc;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.contenedor {
  --color-principal: #aa2b;
}

.titulo {
  color: var(--color-principal);
}
